<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
		xmlns:f="http://java.sun.com/jsf/core"
	>

<h:head>
	<title>Cost calculator</title>
</h:head>

<h:body>
	<h:form id="formId">

		<h:panelGrid id="inputGrid" columns="2">
			<p:outputLabel value="Roční plat"/>
  			<p:inputNumber value="${calculatorBean.annualSalary}" minValue="1.0000" decimalPlaces="4">  
                    <p:ajax update="infoSubmitGrid" />  
            </p:inputNumber>  			
			
			

			<p:outputLabel value="Datum narození"/>
			<p:calendar id="date1"  mode="inline" yearRange="c-100:c+100" navigator="true" value="#{calculatorBean.dateOfBirth}" pattern="MM/dd/yyyy" mindate="#{calculatorBean.mindate}" maxdate="#{calculatorBean.maxdate}">
				<p:ajax event="dateSelect" update="infoSubmitGrid" />			
			</p:calendar>
					 
		</h:panelGrid>
	
		<h:panelGrid id="infoSubmitGrid">
			<p:outputLabel value="Vyberte datum narozeni z kalendáře" rendered="#{empty calculatorBean.dateOfBirth}" style="color: red"/>
			<p:outputLabel value="Zadejte roční plat" rendered="#{empty calculatorBean.annualSalary}" style="color: red"/>
			<p:commandButton id="submitBUtton" value="Vypočítat" action="#{calculatorBean.addPerson()}" update="formId" disabled="#{empty calculatorBean.dateOfBirth || empty calculatorBean.annualSalary}"/>
		</h:panelGrid>
		
		<p:dataTable id="tableid" var="cost" value="#{calculatorBean.getCosts()}">
			<p:column headerText="Id osoby">
				<h:outputText value="#{cost.id}" />
			</p:column>
			<p:column headerText="Datum narození">
				<h:outputText value="#{cost.birthDate}" />
			</p:column>
			<p:column headerText="Datum výpočtu">
				<h:outputText value="#{cost.computationDate}" />
			</p:column>
			<p:column headerText="Roční mzda">
				<h:outputText value="#{cost.annualSalaryCzk}">
					<f:convertNumber groupingUsed="true" maxFractionDigits="4"/> 
				</h:outputText>
			</p:column>
			<p:column headerText="Náklad CZK">
				<h:outputText value="#{cost.staffCostsCzk}">
					<f:convertNumber groupingUsed="true" maxFractionDigits="4"/> 				
				</h:outputText>
			</p:column>
			<p:column headerText="Náklad EUR">
				<h:outputText value="#{cost.staffCostsEur}">
					<f:convertNumber groupingUsed="true" maxFractionDigits="4"/> 
				</h:outputText>
			</p:column>
			<p:column headerText="Náklad USD">
				<h:outputText value="#{cost.staffCostsUsd}">
					<f:convertNumber groupingUsed="true" maxFractionDigits="4"/> 
				</h:outputText>
			</p:column>
			
		</p:dataTable>
	</h:form>
</h:body>
</html>